<%-include('partials/header') -%>
<div class="wrapper">
    <h1 class="about-h1">About</h1>
    <p class="about-p">
        NAcut is an open source url shortner and a perfect project for node & express beginners. Follow us for more such projects
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="res/img/ayush.png" class="rounded-circle rounded  m-2"/>
                <!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/AyusshM" data-size="large" data-color-scheme="no-preference: dark; light: dark; dark: dark;" aria-label="Follow @AyusshM on GitHub">Follow @AyusshM</a>
            </div>
            <div class="col-md-3">
                <img src="res/img/ni3.jpg" class="rounded-circle rounded m-2"/>
                <a class="github-button" href="https://github.com/ni3mumbaikar" data-size="large" data-color-scheme="no-preference: dark; light: dark; dark: dark;" aria-label="Follow @ni3mumbaikar on GitHub">Follow @ni3mumbaikar</a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
