<html>
    <head>
        <title>ni3Aayusham shortner</title>
        <link rel="stylesheet" type="text/css" href="res/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
            <div class="parent">
                <input class ="url" type="text" placeholder="Paste URL here">
                <button class="btn">Short It </button>
            </div>
        </body>
</html>