<html>

<head>
    <title>
        404 Page Not Found
    </title>
    <link rel="stylesheet" type="text/css" href="res/style_404.css">
    <!--    <link rel="stylesheet" type="text/css" href="../public/res/style_404.css">-->

</head>

<body>
    <div class="parent">
        <!--        <img src="../public/res/img/OBJECTS.png" />-->
        <img src="res/img/OBJECTS.png" />
<!--        here we go   -->
        <form action="/home" method="post" >
        <button type="submit" class="btn" >GO BACK TO HOME</button></form>
    </div>
</body>
</html>