<%-include('partials/header') -%>
<div class="wrapper">
    <h1 class="about-h1">Source Code</h1>
    <p class="about-p">We are happy to contribute something in the beloved open source community check out our github profiles for more such projects... Your lovely pull reuests are always welcome <br class="about-p">Consider replacing mongo url with your own in index before hosting it on your own server</p>
        <p >happy coding :)</p>
    <div class="row">
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/ni3mumbaikar/url-shortner/subscription" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-eye" data-size="large" aria-label="Watch ni3mumbaikar/url-shortner on GitHub"> Watch</a>
        <p>&nbsp;&nbsp;</p>
        <a class="github-button" href="https://github.com/ni3mumbaikar/url-shortner/archive/master.zip" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-cloud-download" data-size="large" aria-label="Download ni3mumbaikar/url-shortner on GitHub"> Download</a>
    </div>
</div>

<%- include('partials/footer') -%>
